#image {
    display: block;
    margin: auto;
    background-color: #fafafa;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    overflow: hidden;
}

#name {
    margin: 15px;
    font-size: 23px;
}

.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

ul#links {
    width: 100px;
    margin: auto;
}

ul#links li {
    margin: 15px;
}

a { color:#303030; }      /* unvisited link */
a:visited { color:#303030; }  /* visited link */
a:hover { color:#303030; }  /* mouse over link */
a:active { color:#303030; }  /* selected link */
